body {
  font-family: "Open Sans", sans-serif;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link, a:hover {
  color: orange;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}

.ligne{
  border: 2px solid;
  border-color: white;
}

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
 }
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
  position: relative;
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#hero h3 {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 26px;
  padding: 10px 30px;
  margin-bottom: 30px;
  border-radius: 50px;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}
#hero h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 24px;
}
#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px 9px 30px;
  border-radius: 50px;
  transition: 0.5s;
  border: 2px solid #fff;
  color: #fff;
}
#hero .btn-get-started:hover {
  background: orange;
  border: 2px solid orange;
}

section {
  padding: 60px 0;
  overflow: hidden;
}
.form-control:focus {
  box-shadow: none;
  border-color: orange
}

.profile-button {
  background: orange;
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: orange
}

.profile-button:focus {
  background:orange;
  box-shadow: none
}

.profile-button:active {
  background: orange;
  box-shadow: none
}

.back:hover {
  color: orange;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: orange;
  color: #fff;
  cursor: pointer;
  border: solid 1px orange
}
.box-profile{
	user-select: none;
	margin: 50px auto;
	background:#231e39 ;
	color: #b3b8cd ;
	border-radius: 15px;
	width: 350px;
	text-align: center;
	box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);

}
.cover-photo{

	background: url(2.JG);
	height: 160px;
	width: 100%;
	border-radius: 5px 5px 0 0;
}
.profile{
	height: 120px;
	width: 120px;
	border-radius: 50%;
	margin:  -175px;
	border: 1px solid #1f1a32;
	background: #292343;

}
.profile-name{
	font-size: 25px;
	font-weight: bold;
}.age{

	margin-top: 10px;
	line-height: 16px;
    font-size: 13px;

}
.ville{

margin-top: 10px;
line-height: 16px;
font-size: 13px;

}
button{
margin: 10px 0 40px 0;


}
.msg-btn, .follow-btn{
	background: orange ;
	border: 1px solid orange;
	padding: 10px 25px;
	color: #231e39;
	border-radius: 3px;
	font-family: sans-serif;
	cursor: pointer;



}
.follow-btn{
	margin-left: 10px;
	background: transparent;
	color: orange;


}
.msg-btn{
	margin-left: 10px;
	background: transparent;
	color: orange;


}
.follow-btn:hover{

	color: #ffffff;
	background: orange;
	transition: .5s;
}
.msg-btn:hover{

	color: #ffffff;
	background: orange;
	transition: .5s;
}
.box-profile i{
	padding-left: 20px;
	font-size: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	transition: .5s;
}
.box-profile i:hover{
color: orange;

}
.team-container
{
    width:100%;
    height: auto;

}
.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: orange;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}